body {
    background-color: #0c2466
}

.kort {
    padding: 1rem;
    background-color: #df0ebc;
    border: 3px solid #e2e8f0;
    color: #0f172a;
    font-family: sans-serif;
}

.kort img {
    max-width: 100%;
    height: auto;
}